<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>Session Counter</title>
    <link rel="stylesheet" type="text/css" href={{url_for('static', filename="main.css")}}>
  </head>
  <body>
    <div>
      <h1>Counter</h1>
      <p>{{session['counter']}} times.</p>
      <form action='/double'>
        <input type="submit" value="Increment by 2"></input>
      </form>
      <form action='/reset'>
        <input type="submit" value="Reset Counter"></input>
      </form>
    </div>
  </body>
</html>